/* Set Colors */
:root {
  --primary-color: rgba(0, 162, 255, 0.904);
  --secondary-color: rgba(0, 60, 255, 0.904);
  --overlay-color: rgb(5, 104, 185);
  --menu-speed: 0.75s; }

/* Reset View */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  border: none; }

/* Main Styling */
body {
  font-family: sans-serif;
  margin: none;
  color: black;
  line-height: 2em; }

/* Classes */
#hero {
  background-image: url("Riley-For-For-Congress-Banner-3-Empire-Plaza (Website).png");
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  background-size: 100% 100%;
  /* position: relative;
      overflow: hidden; */
  display: grid;
  align-items: end;
  grid-template-rows: 1fr;
  grid-template-areas: "top-cta" "hero-main" "navbar"; }

.hero-text {
  color: aliceblue;
  text-align: center;
  grid-area: top-cta;
  place-self: center;
  padding: 1em; }

.hero-main {
  display: flex;
  grid-area: hero-main;
  justify-content: space-around; }

.hero-image {
  background-image: url("Riley (Website).png");
  max-width: 50vw;
  min-width: 60vh;
  width: 50vh;
  background-size: 100% 100%;
  bottom: 0;
  overflow: hidden;
  grid-area: hero-image;
  height: 60vh;
  place-self: center;
  justify-self: flex-end;
  margin-left: 10rem; }

/* Form Styling */
#hero-signup {
  max-width: 50vw;
  align-self: start;
  grid-area: form;
  align-self: flex-end;
  margin-bottom: 10em;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 1em; }

#join-prompt {
  text-align: center;
  font-size: 1vw;
  color: #ffffff;
  font-weight: bold; }

#join-subtitle {
  text-align: center;
  font-size: 0.75vw;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 1em; }

.form-row input {
  background-color: white;
  border-radius: 10px;
  color: #353535;
  font-size: 0.75vw;
  padding: 0.25rem;
  margin: 0.25rem; }

.fieldset {
  display: flex;
  flex-direction: column; }

/* .social-container{
      grid-area: social;
      justify-self: end;
  } */
/* Mobile Media Query */
/* @media(max-width: 500px) {
      body {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          grid-template-areas: 
          'nav'
          'hero'
          'cta'
          'main'
          'footer'
          ;
      }
  
      #navbar {
          grid-area: nav;
      }
      #hero {
      grid-area: hero;
      }
      
      #hero-signup {
          padding-top: 25px;
          max-width: 50vw;
          align-self: end;
          grid-area: cta;
          place-self: center;
      }
  
  } */
