.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1rem;
    flex: 0 0 10%;

    &__logo-box {
        display: flex;
        align-items: center;
        flex: 0 0 25%;
        font-size: 1.25rem;
    }

    &__menu {
        display: flex;
        list-style: none;
        align-items: center;
        list-style: none;

        &_item:not(:last-child) {
            margin-right: .5rem;
       
        }

        &_item {
            list-style: none;

        font-size: 1.25rem;
        }

        &_link {
            padding: .2rem;
        }
    }
    
}
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      .sticky + .main {
        padding-top: 60px;
      }
